@import '~antd/dist/antd.css';

.header {
  background-color: #0E6697;
  text-decoration: none;
  display: inline-block;
}

.header_logo {
  font-size: 20px;
  float: left;
  background-color: #0E6697;
  border-bottom: none;
  display: inline-block;
  padding: 10px 20px;
}

.header_logo a {
  font-size: 20px;
  text-decoration: none;
  border-bottom: none;
  display: inline-block;
  padding: 20px 20px;
}

.header_container {
  background-color: #0E6697;
}

.header_container .ant-menu-submenu-title {
  padding: 10px 20px;
  background-color: #0E6697;
}

.header_container .ant-menu-item a,
.header_container .ant-menu-submenu-title a {
  background-color: #0E6697;
  text-decoration: none;
  font-size: 20px;
}

.header_container .ant-menu-horizontal {
  border-bottom: none;
  background-color: #0E6697;
}

.header_container .sign_menu {
  border-bottom: none;
  font-size: 20px;
  float: right;
  background-color: #0E6697;
  padding: 20px 20px;
  display: inline-block;
}
